.project-list--main--input
{
  margin: 5px;    
}

.project-list--main--loading
{
  text-align: center;

  h2{
      margin-top:1%;
  }
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  table tbody tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  
  table tbody tr:hover{
    background-color: #d4f0fd;
  }
  
  table th,table td{
    text-align: left;
    // width: 20%;
    padding: 8px 0;
  }
  

  .data-number
  {
    padding-left:5vh;
    width: 20%;
  }
  .data-name
  {
    width: 30%;
  }
  .data-srcCompay
  {
    width: 30%;
  }
  .data-startDate
  {
    width: 10%;
  }
  .data-endDate
  {
    width: 10%;
  }

  table td.icon{
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
  
.main-ProjectListTable-Grid
{
  text-align:left;
  cursor: pointer;
  :hover{
    background-color: #d4f0fd;   
  }
}

.project-list--main--pageselect--label
{
  margin: 15px;
  cursor: pointer;
}

.project-list--main--pagedisp--label
{
  margin: 20px;
}

.project-list--main--pagedisp--select
{
  text-align: right;
}
